{% extends 'base.html' %}

{% block content %}
{% if leads %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Company</th>
            <th>Status</th>
            <th>Created at</th>
        </tr>
    </thead>
    <tbody>
        {% for lead in leads %}
        <tr>
            <td>{{ lead.name }}</td>
            <td>{{ lead.email }}</td>
            <td>{{ lead.phone_number }}</td>
            <td>{{ lead.company }}</td>
            <td>{{ lead.status }}</td>
            <td>{{ lead.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
